.center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.two-line-truncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
}

ion-item.item-top-align::part(native) {
    align-items: flex-start;
}

@media screen and (prefers-color-scheme: dark) {

    ion-modal.ios ion-list,
    ion-modal.ios ion-list ion-item {
        --background: var(--ion-background-color);
        background: var(--ion-background-color);
    }

    ion-card.ios ion-list,
    ion-card.ios ion-list ion-item {
        --background: var(--ion-card-background-color);
        background: var(--ion-card-background-color);
    }
}
